.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
    border: width 10px;
    background-color: rgb(173, 113, 229);
    border-style: ridge;
    border-color: rgb(132, 0, 255);



    
}

